[submodule "deps/sharedmemorymodel"]
	path = deps/sharedmemorymodel
	url = git@bitbucket.org:frl-student/sharedmemorymodel.git
[submodule "deps/RUDP"]
	path = deps/RUDP
	url = https://github.com/jwehorner/RUDP.git
