#[submodule "deps/sharedmemorymodel"]
#	path = deps/sharedmemorymodel
#	url = git@bitbucket.org:frl-student/sharedmemorymodel.git
[submodule "deps/RUDP"]
	path = deps/RUDP
#	url = git@git-collab.nrc-cnrc.gc.ca:cvlad/rudp.git
	url = https://github.com/jwehorner/RUDP.git
